/**
 * This file is part of an ADDON for use with LEPTON Core.
 * This ADDON is released under the GNU GPL.
 * Additional license terms can be seen in the info.php of this module.
 *
 * @module          wysiwyg
 * @author          LEPTON Project
 * @copyright       2010-2025 LEPTON Project 
 * @link            https://lepton-cms.org
 * @license         https://gnu.org/licenses/gpl-3.0.html
 * @license_terms   please see info.php of this module
 *
 */
 
 .mce-btn button {
    width: auto !important;
    background: transparent;
}

.ui.basic.button.blank  {
	border: 0px !important;
	box-shadow: none !important;
	margin: 0px !important;
	padding: 0px !important;	
}

.ui.orange.button {
	white-space: nowrap;
}
.comment_history {margin:0 0 20px 0;padding:10px;}
table.history_table thead tr:nth-child(odd) {background:#fff;}
table.history_table tr:nth-child(4n+1), table.history_table tr:nth-child(4n+2) {background:#eee;}
table.history_table td {padding:10px;}
button[type="submit"].history_button {width:33%;line-height:20px;padding: 8px 20px;margin:0;background:#888;cursor: pointer;border:none;color:#fff;}
button[type="submit"].history_button:nth-of-type(2) {width:31%;margin:0 1%;}
button[type="submit"].history_button_delete {width:33%;line-height:20px;padding: 8px 40px;margin:0;background:#cf0000;cursor: pointer;border:none;color:#fff;}
button[type="submit"].history_button:hover, button[type="submit"].history_button_delete:hover {background:#aaa;}
