/**
 *  @template       Semantic
 *  @version        see info.php of this template
 *  @author         cms-lab
 *  @copyright      2010-2025 CMS-LAB
 *  @license        https://creativecommons.org/licenses/by/3.0/
 *  @license terms  see info.php of this template
 *  @platform       see info.php of this template
 */
 
/* custom frontend.css for news module */ 
 
 .loop_header {
	width: 100%;
}

 .loop_header a {
font-weight:bold;
}
.post_top {

}

.pub_date {
font-weight:bold;
} 
 
.post_title, .post_date {
	border-bottom: 1px solid #DDDDDD;
}

.post_title {
	font-weight: bold;
	font-size: 14px;
	color: #000000;
}

.post_date {
	text-align: right;
	font-weight: bold;
}

.post_short {
	text-align: justify;
	padding-bottom: 5px;
}

.news_loop_image {
	width:150px;
  float:left;
  margin-right:20px;
}

.page_header {
	width: 100%;	
}

.page_left {
	text-align: left;	
}
.page_center {
	text-align: center;
}

.page_right {
	text-align: right;	
}

.post_header {
	width: 100%;	
}

.post_header h2 {
margin-bottom:12px;	
}

.public_info {
	text-align: right;
}

.group_page {
	text-align: center;
}

.comment_header {
	width: 100%;
}

.comment_title {
	font-weight: bold;
}

.comment_info {
	text-align: right;
	border-right: 1px solid #DDDDDD;
}

.comment_text {
	font-weight: bold;
	background-color: #FDFDFD;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 15px;
}

.comment_title, .comment_text {
	border-left: 1px solid #DDDDDD;
}

.comment_title, .comment_info {
	border-top: 1px solid #DDDDDD;
	background-color: #EEEEEE;
}

.selected_group_title { 
	font-size: 14px;
	text-align: center;
}
/*** Don't remove the class nixhier, this is required for ASP ***/
.nixhier {
	display:none;
}