/**
 * @module          Cookie
 * @author          cms-lab
 * @copyright       2010-2025 cms-lab
 * @link            https://cms-lab.com
 * @license         custom license: https://cms-lab.com/_documentation/cookie/license.php
 * @license_terms   see: https://cms-lab.com/_documentation/cookie/license.php
 *
 */


[type="checkbox"] {
	vertical-align: middle !important;
}

[type="color"] {
	min-height: 38px;
	width: 100%;
	background: #fff;
	border-radius: .28571429rem;
}

.ui.form .info.message {
	display: block !important;
}
