/**
 * @module          Reset PIN
 * @author          cms-lab
 * @copyright       2010-2025 cms-lab
 * @link            https://cms-lab.com
 * @license         custom license: https://cms-lab.com/_documentation/reset-pin/license.php
 * @license_terms   please see license
 *
 */

.dividingl {
	max-width: 40%;
	margin-left: 20px;
}

.dividingr {
	max-width: 40%;
	margin-right: 20px;
}

.dividing {
	margin-left: 20px !important;
}
