/**
 * This file is part of an ADDON for use with LEPTON Core.
 * This ADDON is released under the GNU GPL.
 * Additional license terms can be seen in the info.php of this module.
 *
 *
 *	@module			captcha_control
 *	@version		see info.php of this module
 *	@authors		LEPTON Project, W. Studer
 *	@copyright		2010-2025 LEPTON Project
 *	@link			https://lepton-cms.org
 *	@license		https://gnu.org/licenses/gpl.html
 *	@license_terms	please see info.php of this module
 *	@platform		see info.php of this module
 *
 *
 */


table {
	table-layout: auto;
	width: 100%;
}
td.colA {
	width: 30%;
}
.hidden {
	display: none!important;
}
.show {
	display: block!important;
}

select#captcha_type {
	padding:10px;
}
	
input[type="radio"] {
	margin-right:10px;
}

div.plugin {
	border: 1px solid blue;
	padding: 10px;
	height: 170px;
}
div.plugin.deprecated {
	border: 3px dotted grey;
}
div.plugin.active {
	box-shadow: 5px 10px lightblue;
}
div.plugin.deprecated.active {
	box-shadow: 5px 10px lightgrey;
}
p.deprecated {
	font-style: italic;
	color: red;
	font-weight: 300;
}

div.test_result {
	display: block;
	border: 1px solid blue;
	padding: 10px;
	height: auto;
}
div.test_code {
	display: block;
	white-space: pre-wrap;
	border: 1px solid red;
	padding-left: 10px;
	padding-right: 10px;
	height: auto;
}

.smallfont {
	font-size:smaller;
}